.cl{
    text-align: center;
    background-color: bisque;
}

.c2{
    background-color: aquamarine;
    color: red;
}

.c3{
    background-color: maroon;
    color: white;
}

.c4{
    background-color: darkmagenta;
}

.c5{
    background-color:gold;
}