<h1 class ="cl">{{title}}</h1>

 <router-outlet></router-outlet>
<!-- <router-outlet name="addcontact"></router-outlet> -->

<!-- <p>---------------Angular pipes---------------</p>
<p>---------------bulit-In pipes---------------</p>

<div>{{lowercaseex | lowercase }}</div>
<div>{{uppercaseex | uppercase }}</div> 

<div>{{ jsonex | json }}</div>
<div>{{ currencyex | currency }}</div>
<div>{{percentex | percent}}</div>

<p>---------------parametrized pipes---------------</p>

<div>{{ dateex | date: 'MMM dd, yyyy' }}</div> 
<div>{{ currencyex | currency: "INR" }}</div>
<div>{{percentex | percent: '3.2'}}</div>

<p>---------------chaining pipes---------------</p>

<div>{{ dateex | date: 'MMM dd, yyyy' | uppercase }}</div>
<div>{{ currencyex | currency: 'EU- ' | lowercase  }}</div> -->

<!-- <p>---------------interpolation---------------</p>

<div>{{pageHeading}}</div>
<div>{{pageCount}}</div>

<div *ngIf = "isUserLoggedIn">
  <div>{{userObject.fname}}   {{userObject.lname}}</div>
</div> -->

<!-- <div *ngFor=" let contact of contacts">
  {{contact.fname}} {{contact.lname}} {{contact.contactNo}}
</div> --> 

<!-- <table>
  <tr>
    <th>contactNo </th>
    <th> firstname </th>
    <th> lastname </th>
  </tr>
  <tr *ngFor = "let contact of contacts">
    <td [title]="contact.contactNo">{{contact.contactNo}}</td>
    <td [title]=" contact.lname">{{contact.lname}}</td>
    <td>{{contact.fname}}</td>  
  </tr>
</table>

<p></p>
<p>---------------property binding---------------</p>

<a href="#">this is a link</a>

<div *ngIf = "isUserLoggedIn">
  <div [innerHTML]="userObject.fname ">  </div>
</div>

<img [src] = "imgUrl" [alt]="imgAlt"/>
<p [style.color]="txtColorVal"> page count {{pageCount}}</p>

<p>---------------attribute binding---------------</p>

<table>
  <tr>
    <td>contactId </td>
    <td> contactfirstname </td>
    <td> contactlastname </td>
  </tr>
  <tr>
    <td [attr.colspan]="colspanVal" >contactId </td>
    <td > contactlastname</td>
  </tr>
</table>

<p>---------------event binding---------------</p>

<button (click) = "welcome()">click to wish</button>

<div (mouseover) ="highlighting(1,2)">highlighting</div>

<input type="text" (focus)="inputbox()" [placeholder]="write">

<p>---------------two-way binding---------------</p>

<input [(ngModel)]="uname" [placeholder]="write"/>
<div *ngIf="num>5">{{uname}}</div> -->


<!-- <p>----------interpolation----------</p>

<div [ngClass]="'cl'">this is using ngclass</div>

<div [ngClass]="'cl c2'">this is using ngclass with multiple classes</div>

<div [ngClass]="styleclsprop">this is using ngclass with dynamic variable property</div>

<div [ngClass]="conditionstyle ==='c4'? 'c4': 'c5'">this is using ngclass with conditional property</div>

<div [ngClass]=" {c4: true, c5: false}">this is ngclass using object</div>


<p>----------ngIf----------</p>

<div *ngIf = "success_msg; then updated_msg; else error_msg">
   user added sucessfully  
</div>

<ng-template #error_msg>  
    user not added
</ng-template>

<ng-template #updated_msg>
        user updated
</ng-template>


<p>----------ngfor----------</p>

<ul>
    <li *ngFor = " let contact of contacts; index as i; first as f; last as l">
        <div *ngIf = "f"> this is first record </div>
       <div>
         {{ i }} {{contact.fname}}  {{contact.lname}}
       </div>
       <div *ngIf = "l"> this is last record </div>

    </li>
</ul>

<h3>Table ngfor with even or odd</h3>
<ul>
    <li *ngFor = " let contact of contacts; index as i; even as e; odd as o">
        
       <div *ngIf ="e" style="background-color: skyblue;">
         {{ i }} {{contact.fname}}  {{contact.lname}}
       </div>
       <div *ngIf ="o" style="background-color: blanchedalmond;">
         {{ i }} {{contact.fname}}  {{contact.lname}}
       </div>

    </li>
</ul> 

<p>----------ngSwitch----------</p>

<div [ngSwitch] = "superpower">
    <div *ngSwitchCase = "'thor'">Works with thunder thor </div>
    <div *ngSwitchCase = "'shield'">Works with throwing shield</div>
    <div *ngSwitchCase = "'iron'">kill with iron </div>
    <div *ngSwitchCase = "'rays'">Works destroy by rays</div>
    <div *ngSwitchDefault> Works with Default</div>
</div>

<div [ngSwitch] = "tax">
    <div *ngSwitchCase = "10">10 percent tax </div>
    <div *ngSwitchCase = "50"> 50 percent tax </div>
    <div *ngSwitchDefault>default 25 percent</div>
   
</div>

<p>----------ngStyle----------</p>

<div [ngStyle] ="{'background-color': 'lime', 'color':'black'}">this div tag using ngstyle</div>
<div [ngStyle] ="{'background-color': styleprop}">this div tag using ngstyle dynamic property</div>
<div [ngStyle]="{'color': txtColor ==='blue' ? 'blue':'maroon'}">this div is conditional using ngStyle</div> -->
